<!DOCTYPE html>
<html lang="en">

<head>
    <title>Paste</title>
    {% include "../templs/style.html" %}
</head>
<header class="sc-dlfmHC loKqwI">
    <div class="sc-hKgKIp eTEtzu">
        <a href="/" style="text-decoration: none; color: rgb(201, 209, 217);"><button class="sc-bdfCDU eSVGxo">[new]</button></a>
    </div>
</header>

<body>

    <div class="container" id="tabs">
        {% include "../templs/tabs.html" %}
        <div class="tabContent" v-show="currentTab == 'pc'">
            {% for item in mypc %}
                {% include "../templs/final_block.html" %}
            {% endfor %}
        </div>
        <div class="tabContent" v-show="currentTab == 'monitor'">
            {% for item in monitors %}
                {% include "../templs/final_block.html" %}
            {% endfor %}
        </div>
        <div class="tabContent" v-show="currentTab == 'accessories'">
            {% for item in accessories %}
                {% include "../templs/final_block.html" %}
            {% endfor %}
        </div>
        <div class="tabContent" v-show="currentTab == 'gallery'">
            <v-carousel hide-delimiters height="700px">
                {% for item in gallery.data %}
                <v-carousel-item
                  src="{{ item }}"

                ></v-carousel-item>
                {% endfor %}
                </div>
            </v-carousel>
        </div>
    </div>

</body>
<script src="../static/js/script.js"></script>
<script>
    {% for item in mypc %}
        {% if item.dop %}
            tippy('#{{ item.id }}', {
              content: '<p style="font-size: 22px">{% for obj in item.dop %}{{ obj.0 }}: {% if obj.1 %}{{ obj.1 }}{% else %}Stock{% endif %}<br>{% endfor %}<p>',
              followCursor: true,
              allowHTML: true,
              maxWidth: '100%'
            });
        {% else %}

        {% endif %}
    {% endfor %}

    {% for item in accessories %}
        {% if item.dop %}
            tippy('#{{ item.id }}', {
              content: '<p style="font-size: 22px">{% for obj in item.dop %}{{ obj.0 }}: {% if obj.1 %}{{ obj.1 }}{% else %}Stock{% endif %}<br>{% endfor %}<p>',
              followCursor: true,
              allowHTML: true,
              maxWidth: '100%'
            });
        {% else %}

        {% endif %}
    {% endfor %}
</script>
</html>