<!DOCTYPE html>
<html lang="en">

<head>
    <title>Paste</title>
    {% include "../templs/style.html" %}
</head>
<header>
    <button class="save_btn" form="tabs" type="submit" id="save" disabled>Save</button>
    <div style="color: white; font-size: 40px; text-align: center;">[tecnopaste]</div>
</header>

<body>
    <form class="container" id="tabs" method="POST">
        {% csrf_token %}
        {% include "../templs/tabs.html" %}

        <div class="tabContent" v-show="currentTab == 'pc'">
            {% for item in mypc %}
                {% include "../templs/block.html" %}
            {% endfor %}
        </div>

        <div class="tabContent" v-show="currentTab == 'monitor'">
            {% for item in monitors %}
                {% include "../templs/block.html" %}
            {% endfor %}
        </div>


        <div class="tabContent" v-show="currentTab == 'accessories'">
            {% for item in accessories %}
                {% include "../templs/block.html" %}
            {% endfor %}
        </div>
    </form>

</body>
<script src="../static/js/script.js"></script>
</html>