<div id="tabs_container">
    <div class="tab" @click="currentTab = 'pc'" :class="{whiteborder: currentTab == 'pc'}">My PC</div>
    <div class="tab" @click="currentTab = 'monitor'" :class="{whiteborder: currentTab == 'monitor'}"  style="margin: 0 4px">Monitors</div>
    <div class="tab" @click="currentTab = 'accessories'" :class="{whiteborder: currentTab == 'accessories'}" style="margin: 0 4px">Accesories</div>
    <div class="tab" @click="currentTab = 'gallery'" :class="{whiteborder: currentTab == 'gallery'}" style="margin: 0 4px">Gallery</div>
</div>