html {
    background-color: rgb(13, 17, 23);
    font-family: 'JetBrains Mono';
}

body {
    margin: 0;
}

header {
    background: rgb(1, 4, 9);
    position: relative;
    vertical-align: middle;
}

.container {
    margin: 60px auto 0 auto;
    min-width: 700px;
    width: 60%;
    position: relative;
}

.base {
    display: flex;
    width: 100%;
    position: relative;
}


.title {
    color: white;
    font-size: 19px; 
    font-weight: 600; 
    text-align: left; 
    border-right: 2px solid white; 
    width: 20%;
    text-align: center; 
}

.inside {
    color: white; 
    font-size: 19px; 
    font-weight: 600; 
    text-align: center; 
    width: 80%; 
    position: center;
}


.save_btn {
    display: inline-block;
    position: absolute;
    left: 35px;
    top: 11px;
    bottom: 11px;
    margin: auto 0;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 50;
    color: black;
    font-size: 23px;
    background-color: white;
    border: 2px solid white;
    border-radius: 3px;
    font-family: 'JetBrains Mono';
}


.under {
    cursor: pointer;
    text-decoration: 2px underline;
}


#tabs .tab {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 50;
    color: white;
    font-size: 23px;
    
}

#tabs .whiteborder {
    border: 2px solid white;
    /*border-bottom: 2px solid rgb(13, 17, 23);*/
    background-color: white;
    border-radius: 3px 3px 0 0;
    color: black;
}

#tabs .tabContent {
    
    
    top: -2px;
    z-index: 1;
    padding: 15px;
    border-radius: 0 5px 5px 5px;
    border: 2px solid white;

}

#tabs .hide {
    display: none;
}

#tabs .show {
    display: block;
}